<div class="mat-elevation-z8">
  <div class="example-button-row">
    &nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>  
  
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-icon color="primary" title ="Add Classification Type" (click)="DisplayAddClassificationType()">add_circle</mat-icon>
   
    &nbsp;&nbsp;&nbsp;
    <mat-icon class="orange-icon" title ="Update Classification Type" (click)="DisplayClassificationType()">create</mat-icon>
    &nbsp;&nbsp;&nbsp;
    <mat-icon color="warn" title ="Delete Classification Type" (click)="DeleteClassificationType()">delete</mat-icon>
    </div>


   
    <div>
      <mat-spinner *ngIf="isLoading" style="margin:0 auto;"></mat-spinner>
      </div>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
  
  
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
        <td mat-cell *matCellDef="let classificationType"> {{classificationType.designation}} </td>
      </ng-container>
  
     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [length]="100"
    [pageSize]="10"
   [pageSizeOptions]="[5, 10, 25, 100]">
 </mat-paginator>
    <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  
  </div>
  