<mat-sidenav-container class="app-sidenav-container"
                      [class.dark-theme]="isDarkTheme">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" 
               [opened]="!isScreenSmall"
               [mode]="isScreenSmall ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <br/>   <br/>
    <mat-nav-list>
      <a (click)="clickcomponent()">
        <mat-list-item >
  
          <mat-icon>widgets</mat-icon> &nbsp; 
              Components
         
          </mat-list-item>
        </a>

      <a (click)="clickclassification()">
      <mat-list-item >

          <mat-icon>folder_special</mat-icon> &nbsp; 
            Classification
       
        </mat-list-item>
      </a>
        <mat-list-item >
          <a (click)="clickprogram()">
          <mat-icon>airplay</mat-icon> &nbsp; Program
          </a>
        </mat-list-item>
        <mat-list-item >
          <a (click)="clickprogram()">
          <mat-icon>folder_special</mat-icon> 
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-tool-bar (toggleTheme)="toggleTheme()" 
                 (toggleSidenav)="sidenav.toggle()"
                 (toggleDir)="toggleDir()">
    </app-tool-bar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
