.new-training {
    padding: 30px;
    height:200px;
    width: 200px;
    display: flex;
  }
  .training{
    display:flex;
    width:100%;
  }
  mat-form-field{
    width: 300px;
  }
  .material-icons{
    cursor: pointer;
  }