<!-- <mat-grid-list cols="12"  [gutterSize]="'10px'">
  <mat-grid-tile [colspan]=9 [rowspan]=5 style="overflow: scroll;align-items: initial">
   -->
    <!-- border-radius:10px 0px 0px 10px ;" > -->
     <mat-card style="width: 100%;">
      <mat-tab-group>
        <mat-tab label="Component">
          <app-component-list></app-component-list>
        </mat-tab>
      
        <mat-tab label="Prices">
          <app-price-list> </app-price-list>
        </mat-tab>
        <!-- <mat-tab label="Curves" >
          <app-component-curves > </app-component-curves>
        </mat-tab>
         -->
      </mat-tab-group>
    </mat-card>
  <!-- </mat-grid-tile>
  <mat-grid-tile [colspan]=3 [rowspan]=2>
    
  </mat-grid-tile>

  <mat-grid-tile [colspan]=3 [rowspan]=3 >
   
        
     
  </mat-grid-tile>
</mat-grid-list> -->

